body {
	background-color: #111111;
}
#titlelogo{
	color: white;
	font-family: "Montserrat";
	font-size: 40px;
	text-align: center;
}
#container{
	width: 100%;
	height: 100%;
}
#visual{
	margin: auto;
	display:block;
	width: 80%;
	height: 20%;
}
